const ThemeContext = React.createContext('light');

class App extends React.Component {
	render() {
		return (
			<ThemeContext.Provider value="dark">
				<Toolbar />
			</ThemeContext.Provider>
		);
	}
}

ThemedButton = (props) =>
		<ThemeContext.Consumer>
			{theme => <Button {...props} theme={theme} />}
		</ThemeContext.Consumer>
