class ShoppingList extends React.Component {
  render() {
    return (
      <div className="shopping-list">
        <h1>{this.props.name} Shopping List</h1>
        <ul>
          <li>Instagram</li>
          <li>WhatsApp</li>
          <li>Oculus</li>
        </ul>
      </div>
    );
  }
}


/*
EQUIVALENTE
*/
return React.createElement('div', {className: 'shopping-list'},
	React.createElement('h1',  ... h1 children ... ),
	React.createElement('ul', ... ul children ... )
);


// Example usage: <ShoppingList name="Mark" />