const moves = history.map((step, move) => {
	const desc = move ?
		'Go to move #' + move :
		'Go to game start';
	return (
		<li key={move}>
			<button onClick={() => this.jumpTo(move)}>{desc}</button>
		</li>
	);
});